<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978106420961-j6ovm9ud0rsd4njt39klv05lkmnfa587.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978106420961-j6ovm9ud0rsd4njt39klv05lkmnfa587</string>
	<key>API_KEY</key>
	<string>AIzaSyA-GaLxlggk4ehaC6IwMOAsA30ojTdm5mA</string>
	<key>GCM_SENDER_ID</key>
	<string>978106420961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexandru.apostol.Autoescuela</string>
	<key>PROJECT_ID</key>
	<string>autoescuela-d6673</string>
	<key>STORAGE_BUCKET</key>
	<string>autoescuela-d6673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978106420961:ios:1e057f566b046048b831a0</string>
	<key>DATABASE_URL</key>
	<string>https://autoescuela-d6673.firebaseio.com</string>
</dict>
</plist>